.title-login{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 600;
    p{
        margin: 0;
    }
}
.contenedor {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:60%
}
.container-app-todo{
    width: 100%;
    height:600px;
    border-radius: 10px;
    transition: none;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2)
}
.header-app {
    height:100px;
    background-color: cadetblue;
    @media (max-width: 390px) {
        height: 60px;
    }
    .header-app-img {
        width: 100px;
        height: inherit;
        @media (max-width: 390px) {
            width: 40px;
        }
    }
}
.user-login{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 600;
    @media (max-width: 390px) {
        font-size: 12px;
    }
}
input[type="email"],
input[type="password"]{
    @media (max-width: 390px) {
        width: 100%;
        font-size: 12px;
    }
}
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    @media (max-width: 390px) {
        font-size: 12px;
    }
  }
.btn-login{
    width: 125px;
    @media (max-width: 390px) {
        width: 85%;
    }
}
.btn-login:last-child {
    @media (max-width: 390px) {
        margin-top: 8px;
    }
  }
.btn-login-primary{
    background-color: cadetblue;
}
.to-register{
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight: 400;
}
.section-btns{
    @media (max-width: 390px) {
        padding: 1.5rem 0;
    }
}