.navbar-app {
    background-color: none;
    height: 60px;
    text-align: end;
    .button-close {
        width: 150px;
        height: 30px;
        margin: 15px;
        padding: 0;
        @media (max-width: 390px) {
            width: 100px;
            height: 20px;
            margin: 10px;
            font-size: 10px;
        }
    }
}
.btn-login{
    width: 125px;
}
.btn-login-primary{
    background-color: cadetblue;
}