.navbar-app {
    background-color: none;
    height: 60px;
    text-align: end;
    .button-close {
        width: 150px;
        height: 30px;
        margin: 15px;
    }
}
.btn-login{
    width: 125px;
}
.btn-login-primary{
    background-color: cadetblue;
}